<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" th:href="@{/style.css}">
    <title>Acquisto viaggio</title>
</head>
<body class="container">
    <header>
        <h1 class="titoloPagina"> Acquista viaggio</h1>
    </header>    
    <main>
        <div class="travel">
            <div class="testo">
                <div class="title">
                    <h2>
                        <span class="destinazione text-muted" th:text="${viaggio.destinazione}">Questo viaggio</span>-<span class="titoloViaggio" th:text="${viaggio.titolo}">L'amore della vita</span>
                    </h2>
                </div>
                <div class="descrizioneViaggio">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem saepe officiis ad labore, dolorem fugit dolores optio magni exercitationem odit necessitatibus quasi modi fuga reprehenderit, quod sequi? Assumenda, dolores eveniet.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit perspiciatis delectus cumque totam sit id quasi ut culpa voluptates. Tempora harum aut ratione dolorem pariatur! Earum ducimus perferendis aut deleniti.
                </div>
                <form th:action="@{/viaggi/prenotazione}" method="post" id="costruisciPrenotazione" th:object="${prenotazione}">
                    <div class="row">
                        <div class="casellaForm">
                            <label for="nome">Nome</label>
                            <input type="text" name="nome" id="nome">
                        </div>
                        <div class="casellaForm">
                            <label for="cognome">Cognome</label>
                            <input type="text" name="cognome" id="cognome">
                        </div>
                    </div>
                    <div class="row">
                        <div class="casellaForm email">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="casellaForm cc">
                            <label for="CC">Operatore carta</label>
                            <select name="CC" id="CC">
                                <option value="select">-</option>
                                <option value="mc">Mastercard</option>
                                <option value="vs">Visa</option>
                                <option value="amex">American Express</option>
                            </select>
                        </div>
                        <div class="casellaForm">
                            <label for="cartaCredito">Numero della carta di credito</label>
                            <input type="number" name="cartaCredito" id="cartaCredito">
                        </div>
                    </div>
                    <div class="row flex-hr">
                        <div class="casellaForm">
                            <label for="persone">Numero di persone</label>
                            <input type="number" id="persone" name="persone" >
                        </div>
                        <div class="importo">
                            <label for="impDef">Totale</label>
                            <h4 class="display-4"><span id="impDef">3600</span>€</h4>
                        </div>
                    </div>
                 
                    
                    <input type="hidden" name="idViaggio" th:value="${viaggio.id}">
                    <input type="submit" class="btn-success" value="Acquista" id="acquista"></input>
                </form>
            </div>
            <div class="side">
                <img src="Sardegna.jpg" th:src="@{${viaggio.descrizione}}" alt="" >
                <div class="lead" ><span id="prezzoAPersona" th:text="${viaggio.prezzo}">1.000</span> € a persona</div>
                
                <form th:action="@{http://localhost:8080/viaggi/annulla}" method="post">
                    <button class="btn-danger" id="annulla">Annulla</button>
                </form>
                <!-- </div> -->
            </div>
        </div>
    </main>
    <footer></footer>
    <script th:inline="javascript">
	/*<![CDATA[*/

    var impSingolo = /*[[${viaggio.prezzo}]]*/ 'default';
	var tot= document.getElementById("impDef");
	var persone= document.getElementById("persone");
	persone.value=1;
	tot.innerHTML=parseInt(persone.value)*impSingolo;
	persone.addEventListener("keyup", calcolaTot, false);
    console.log(impSingolo);
    function calcolaTot() {
		if ((persone.value=="")||(persone.value<0)){
			tot.innerHTML=0;
		} else {
			console.log(persone.value);
			console.log(impSingolo);
			console.log(persone.value+impSingolo);

			tot.innerHTML=parseInt(persone.value)*impSingolo;
		}
    	
    }
	/*]]>*/
	</script>
</body>
</html>