<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Acquista il tuo viaggio con ViaggiInLinea.com!</title>
</head>
<body>

    <div class="container">
        <header>
            <!-- IF NOT AN USER -->
            <h1 class="titoloPagina">B	envenuto a ViaggiInLinea.com!</h1>
            <!-- else is utente h1 bentornato, +NOMEUTENTE+, voliamo a DESTINAZIONEPASSATA H1 -->
        </header>
        
        
        
        <main id="travelsContainer" >
            <div class="travel" th:each="viaggio : ${viaggi}">
                <div class="testo">
                    <div class="title">
                        <h2>
                            <span class="destinazione"  th:text="${viaggio.destinazione}">Questo viaggio</span>-<span class="titoloViaggio"  th:text="${viaggio.titolo}">L'amore della vita</span>
                        </h2>
                    </div>
                    <div class="descrizioneViaggio"  th:text="${viaggio.descrizione}">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem saepe officiis ad labore, dolorem fugit dolores optio magni exercitationem odit necessitatibus quasi modi fuga reprehenderit, quod sequi? Assumenda, dolores eveniet.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit perspiciatis delectus cumque totam sit id quasi ut culpa voluptates. Tempora harum aut ratione dolorem pariatur! Earum ducimus perferendis aut deleniti.
                    </div>
                </div>
                <div class="side">
                    <img src="Sardegna.jpg" alt="">
                    <button class="btn-primary">Prenota</button>
                </div>
            </div>
        </main>          
        <footer>
            <!-- navigazione pagine -->
        </footer>  
    
</body>
</html>